.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.main img {
  width: 500px;
}

.main span {
  background-color: rgb(171, 255, 175);
  padding: 3px 8px;
  border-radius: 5px;
}