.btn{
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  border-color: rgb(137, 137, 137);
}

.claro {
  background-color: white;
  border: 1px solid white;
  color: black;
}

.escuro {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  padding: 20px;
  background-color: rgb(234, 234, 234);
}

.bodyEscuro {
  background-color: rgb(37, 37, 37);
}