ul {
  padding: 10px;
  background-color: #c8f6ff;
  border-radius: 5px;
  min-height: 150px;
}

li {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-content: space-between;
}

button {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  background-color: #047b93;
  color: white;
  font-weight: 550;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
}
